.gradient-custom {
    /* fallback for old browsers */
    background: #bde29f;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(243, 167, 221), rgb(113, 33, 152));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(255, 205, 243), rgb(181, 202, 240))
}